<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing management system</title>
</head>
<body>

<h2>Выберите проект</h2>
<h3>Если вы еще не являетесь его руководителем, то будете автоматически назначены</h3>
<form th:action="@{/director/projectName}" method="POST" th:object="${projectName}">
    <select class="form-control" id="dropDownProjectList" name="projectName">
        <option value="0">select project</option>
        <option th:each="project : ${allProjects}" th:value="${project.title}" th:text="${project.title}"></option>
    </select>
    <button type="submit">Подтвердить и перейти к управлению проектом</button>
</form>


</body>
</html>